@tailwind base;

/* Your own custom base styles */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Your own custom component styles */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');
  * {
    font-family: 'Nunito Sans', sans-serif;
  }
}

@layer utilities {
  .logo {
    font-size: 3rem;
    @apply font-black;
  }
  .text-title {
    font-size: 2.2rem;
    @apply font-extrabold;
  }
  .actionBtn {
    @apply select-none;
    @apply border-primary border-2;
    @apply text-primary;
    @apply uppercase;
    @apply rounded-md;
    @apply font-semibold;
    @apply px-4 py-1;
    @apply w-max;
    @apply focus:outline-none;
    @apply transition-colors hover:bg-primary hover:text-white cursor-pointer;
  }

  .actionBtn:disabled {
    @apply text-primary;
    @apply bg-white;
  }

  .textInput {
    @apply bg-lightGray rounded-xl;
    @apply w-full placeholder-secondary;
    @apply px-4 py-3 outline-none;
    @apply my-2;
  }

  .toggleBtn {
    @apply select-none;
    @apply border-primary border-2;
    @apply uppercase;
    @apply rounded-md;
    @apply font-semibold;
    @apply px-4 py-1;
    @apply focus:outline-none;
    @apply transition-colors hover:bg-primary hover:text-white;
  }

  .selectInput {
    @apply appearance-none cursor-pointer;
  }

  .selectInput:invalid {
    @apply text-secondary;
  }

  .selectInput option {
    @apply text-black;
  }

  .selectInput option:disabled {
    @apply text-gray-500;
  }

  .selectInput::-ms-expand {
    @apply hidden;
  }

  td.table-data {
    @apply py-2 px-1 bg-lightGray;
    @apply break-words;
  }

  td.table-data:first-child {
    @apply rounded-t-lg md:rounded-tr-none md:rounded-l-2xl md:rounded-bl-none;
    @apply md:pl-5;
  }
  td.table-data:last-child {
    @apply md:rounded-r-2xl;
  }

  /*COMPONENT LOADER STYLES */
  .compLoader {
    display: block;
    position: relative;
    width: 80px;
    height: 24px;
  }
  .compLoader div {
    @apply bg-primary;
    position: absolute;
    top: 6px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .compLoader div:nth-child(1) {
    left: 9px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .compLoader div:nth-child(2) {
    left: 9px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .compLoader div:nth-child(3) {
    left: 33px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .compLoader div:nth-child(4) {
    left: 57px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
